<%- include('./partials/header') %>
    <div class="jumbotron" id="about-image">
        <h1 class="display-4">About Oxbow</h1>
        <p class="lead">Oxbow is an application for art critics. Using a large collection of classical art from the Metroplitan Museum of Art's Collection API, users can hone their craft by reviewing classical works while reading and interacting with other user's critiques.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      </div>
<%- include('./partials/footer') %>