<%- include('./partials/header') %>
<div id="about-body">
    <div id="about-content">
        <h1>About Oxbow</h1>
        <p>Oxbow is an application for art critics. Using a large collection of classical art from the Metroplitan Museum of Art's Collection API, users can hone their craft by reviewing classical works while reading and interacting with other user's critiques. 
        <br>
        <br>
        Oxbow is made with Node, Express, Mongoose, and MongoDB.</p>
        <p>Oxbow is named after 19th Century artist Thomas Cole's painting by the same name.</p>
      </div>
</div>


<%- include('./partials/footer') %>