<%- include('./partials/header') %>
<div id="discover-info">

</div>
<div id="discover-art">
    <img src="<%= objectBody.primaryImageSmall %>" alt="">
</div>
<div id="discover-next">

</div>
<%- include('./partials/footer') %>