<%- include('./partials/header') %>
<div id="splash-container">
  <div id="splash-signup-container">
    <div id="splash-signup">
      <div>
          <h1 id="signup-header">Get Critiquing with Oxbow</h1>
      </div>
      <div>
          <p id="signup-body">Begin discovering classical masterpieces and engaging in exhillerating art discourse today.</p>
      </div>
      <div>
          <a href="/auth/google" class="btn" role="button" id="signup-btn">Signup</a>
      </div>
    </div>
  </div>
  <div id="splash-display-container">
    <img src="https://www.onlygfx.com/wp-content/uploads/2017/07/red-paint-brush-stroke-3.png" alt="" id="splash-display-bg">
  </div>
</div>
<%- include('./partials/footer') %>

