<%- include('./partials/header') %>
<div id="splash-container">
  <div id="splash-signup-container">
    <div id="splash-signup">
      <h1>Oxbow</h1>
      <p>Welcome to Oxbow</p>
    </div>
  </div>
  <div id="splash-display-container">
    <p>Art Here</p>
  </div>
</div>
<%- include('./partials/footer') %>

