* {
	box-sizing: border-box;
}

body {
	font-family: 'Baskervville', serif;
	position: relative;
	height: 100vh;
	margin: 0;
}

a {
	color: #00b7ff;
}

.bg-red {
	background-color: rgb(0, 0, 0);
}

#footer {
	background-color: rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: rgb(255, 255, 255);
}

.main-container {
	min-height: 100vh;
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 60px;
}

#splash-container {
	height: 85vh;
	display: grid;
	grid-template-columns: 3fr 4fr;
}

#splash-signup-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 255, 255);
}

#splash-signup {
	display: grid;
	grid-template-rows: 2fr 3fr 1fr;
	height: 80%;
	width: 80%;
	background-image: url('https://www.sartle.com/media/artwork/drowning-girl-roy-lichtenstein.jpg?colorbox_zoom&itok=5fD-iBgk');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: white;
	border: solid 8px black;
}

#signup-header {
	background-color: black;
	color: white;
	font-weight: 700;
	margin: 25px;
	padding: 7px;
}

#signup-body {
	font-family: 'Lato', sans-serif;
	font-size: 1.3rem;
	background-color: black;
	color: white;
	margin: 25px;
	padding: 7px;
}

#signup-btn {
	font-family: 'Lato', sans-serif;
	color: white;
	margin: 25px;
}

#splash-display-container {
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	align-items: center;
}

#splash-display-bg {
	width: 700px;
}

#splash-signup .btn,
#discover-info .btn {
	background-color: rgb(255, 0, 0);
	color: white;
	font-family: 'Lato', sans-serif;
	margin-right: 10px;
}

#splash-signup .btn:hover,
#discover-buttons .btn:hover {
	background-color: rgb(255, 217, 0);
}

#error-body {
	display: grid;
	grid-template-columns: 2fr 4fr;
	background-image: url('https://i.imgur.com/jwz6nFj.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	width: 100vw;
	font-family: 'Lato', sans-serif;
	font-size: 2rem;
	color: #284864;
	padding: 30px;
}

#not-found-image {
	width: 700px;
}

.error-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#discover-body {
	display: grid;
	grid-template-columns: 2fr 4fr;
	height: 84vh;
	background-color: rgb(255, 255, 255);
}

#discover-art {
	display: flex;
	justify-content: center;
	align-items: center;
}

#discover-art-image {
	max-width: 95%;
	max-height: 90%;
}

#discover-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#discover-info-card,
#critique-info-card {
	padding: 10px;
	margin-top: 20px;
	width: 90%;
	max-height: 90%;
	background-color: rgb(255, 230, 0);
}

#discover-buttons {
	display: flex;
	justify-content: flex-start;
	width: 90%;
}

#next-art {
	margin-top: 15px;
}

#about-image {
	margin-top: 20px;
	background-image: url('https://www.metmuseum.org/toah/images/hb/hb_08.228.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: white;
}

.new-critique-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#critique-form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#critique-form-card {
	display: flex;
	flex-direction: column;
	background-color: rgb(241, 241, 241);
	width: 90%;
	padding: 15px;
	margin-bottom: 0px;
}

#critique-form-card * {
	padding-bottom: 5px;
	margin-bottom: 0px;
}

#critique-info-card {
	margin-bottom: 10px;
}

#critique-art-container {
	display: flex;
	margin-top: 20px;
}

#critique-submit-btn {
	margin-top: 10px;
	background-color: rgb(0, 119, 255);
	color: white;
	font-family: 'Lato', sans-serif;
}

.critiqueShowSection {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.critiqueContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
	margin-top: 2rem;
}

.critique-options {
	background-color: red;
	padding: .1rem;
	height: 1.5rem;
}

.critiqueArtContainer {
	padding: 15px;
	background-color: rgb(255, 217, 0);
}

.newCommentField {
	width: 70%;
	padding: 0.5rem;
	background-color: rgb(221, 221, 221);
}

.critiqueContentContainer {
	width: 100%;
	margin: 1.5rem;
}

#comment-submit-btn {
	background-color: rgb(0, 119, 255);
	color: white;
	font-family: 'Lato', sans-serif;
}

#gallery-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.gallery-card {
	margin: 1rem;
	width: 18rem;
	height: 20rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.card-title {
	color: rgb(0, 0, 0);
	background-color: rgb(255, 217, 0);
	padding: 0.25rem;
}

#see-more-btn {
	background-color: rgb(0, 119, 255);
	color: white;
	font-family: 'Lato', sans-serif;
}

#gallery-title {
	margin: 1rem;
}

/* #gallery-container .card img {
	width: 100%;
	height: 10rem;
	object-fit: cover;
} */

.date {
	color: red;
	font-family: 'Lato', sans-serif;
}

#footer-logo {
	height: 30px;
}

#brand-logo {
	height: 30px;
}
