* {
	box-sizing: border-box;
}

body {
	font-family: 'Baskervville', serif;
	position: relative;
	height: 100vh;
	margin: 0;
}

a {
	color: #00b7ff;
}

.bg-red {
	background-color: rgb(0, 0, 0);
}

#footer {
	background-color: rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: rgb(255, 255, 255);
}

.main-container {
	min-height: 100vh;
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 60px;
}

#splash-signup-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 255, 255);
}

#splash-signup {
	display: grid;
	grid-template-rows: 2fr 3fr 1fr;
	height: 80%;
	width: 80%;
	background-image: url('https://www.sartle.com/media/artwork/drowning-girl-roy-lichtenstein.jpg?colorbox_zoom&itok=5fD-iBgk');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: white;
	border: solid 8px black;
}

#signup-header {
	background-color: black;
	color: white;
	font-weight: 700;
	margin: 25px;
	padding: 7px;
}

#signup-body {
	font-family: 'Lato', sans-serif;
	font-size: 1.3rem;
	background-color: black;
	color: white;
	margin: 25px;
	padding: 7px;
}

#signup-btn {
	font-family: 'Lato', sans-serif;
	color: white;
	margin: 25px;
}

#splash-display-container {
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	align-items: center;
}

#splash-display-bg {
	width: 700px;
}

#splash-signup .btn,
#discover-info .btn {
	background-color: rgb(255, 0, 0);
	color: white;
	font-family: 'Lato', sans-serif;
	margin-right: 10px;
}

#splash-signup .btn:hover,
#discover-buttons .btn:hover,
.gallery-card .btn:hover {
	background-color: rgb(255, 217, 0);
}

#error-body {
	display: grid;
	grid-template-columns: 2fr 4fr;
	background-image: url('https://i.imgur.com/jwz6nFj.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	width: 100vw;
	font-family: 'Lato', sans-serif;
	font-size: 2rem;
	color: #284864;
	padding: 30px;
}

#not-found-image {
	width: 700px;
}

.error-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#discover-art {
	display: flex;
	justify-content: center;
	align-items: center;
}

#discover-art-image {
	max-width: 95%;
	max-height: 90%;
}

#discover-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#discover-info-card,
#critique-info-card {
	padding: 10px;
	margin-top: 20px;
	width: 90%;
	max-height: 90%;
	background-color: rgb(255, 230, 0);
}

#update-btn {
	margin-top: 1rem;
}

#discover-buttons {
	display: flex;
	justify-content: flex-start;
	width: 90%;
}

#next-art {
	margin-top: 15px;
}

#about-image {
	margin-top: 20px;
	background-image: url('https://www.metmuseum.org/toah/images/hb/hb_08.228.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: white;
}

#critique-form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#critique-form-card {
	display: flex;
	flex-direction: column;
	background-color: rgb(241, 241, 241);
	width: 90%;
	padding: 15px;
	margin-bottom: 0px;
}

#critique-form-card * {
	padding-bottom: 5px;
	margin-bottom: 0px;
}

#critique-info-card {
	margin-bottom: 10px;
}

#critique-submit-btn {
	margin-top: 10px;
	background-color: rgb(0, 119, 255);
	color: white;
	font-family: 'Lato', sans-serif;
}

.critiqueShowSection {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.critiqueContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
	margin-top: 2rem;
}

.critique-options-btn {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	border: none;
	padding: .1rem;
	height: 1.5rem;
}

#critique-options-span {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
#critique-options-span * {
	margin-right: 1rem;
	padding: 0.05rem;
}

.link {
	border: none;
}

.newCommentField {
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 1rem;
	background-color: rgb(0, 0, 0);
	color: white;
}

#comments-section {
	width: 100%;
}

.comment {
	background-color: rgb(221, 221, 221);
	margin: .5rem 0rem;
	padding: .5rem;
	width: 100%;
}

.comment-header * {
	display: inline-block;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.comment-header .btn {
	border: none;
	width: 1.75rem;
}

.commenter-name {
	color: rgb(65, 147, 255);
}

.comment-date {
	font-size: .85rem;
}

.comment-body {
	background-color: white;
	margin-top: .5rem;
	padding-left: .5rem;
}

.critiqueContentContainer {
	width: 100%;
	margin: 1.5rem;
}

#comment-submit-btn {
	background-color: rgb(0, 119, 255);
	color: white;
	font-family: 'Lato', sans-serif;
}

.gallery-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.gallery-card {
	margin: 1rem;
	width: 18rem;
	height: 20rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.stars {
	color: rgb(255, 217, 0);
	margin-bottom: 1rem;
}

.card-title {
	color: rgb(0, 0, 0);
	background-color: rgb(255, 217, 0);
	padding: 0.25rem;
	margin: 0;
}

#see-more-btn {
	background-color: rgb(0, 119, 255);
	color: white;
	font-family: 'Lato', sans-serif;
}

.title {
	margin: 1rem;
}

.card-author {
	color: white;
	font-size: 1rem;
	margin: 0;
}

.date {
	color: red;
	font-family: 'Lato', sans-serif;
}

#about-content {
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}

#about-content * {
	background-color: rgb(0, 0, 0);
	color: white;
	padding: 1rem;
	margin: 1rem;
}

.post {
	white-space: pre;
}

#about-body {
	background-image: url('https://www.metmuseum.org/toah/images/hb/hb_08.228.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
}

#footer-logo {
	height: 30px;
}

#brand-logo {
	height: 30px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
	#splash-container {
		height: 85vh;
		width: 100vw;
		display: grid;
		grid-template-rows: 1fr;
	}

	#splash-display-bg {
		width: 700px;
		display: none;
	}

	.gallery-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	#discover-body {
		display: grid;
		grid-template-rows: 2fr 4fr;
		height: 84vh;
		background-color: rgb(255, 255, 255);
	}
	.new-critique-container {
		display: grid;
		grid-template-rows: 1fr 1fr;
	}
	.critique-art-container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 1rem;
	}
	.critique-art-container img {
		max-width: 95%;
	}
	.showArtContainer {
		max-width: 90vw;
		padding: 15px;
		background-color: rgb(255, 217, 0);
	}
	.showArtContainer img {
		max-width: 80vw;
	}
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
	#splash-container {
		height: 85vh;
		width: 100vw;
		display: grid;
		grid-template-rows: 1fr;
	}

	#splash-display-bg {
		width: 700px;
		display: none;
	}

	.gallery-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	#discover-body {
		display: grid;
		grid-template-rows: 2fr 4fr;
		height: 84vh;
		background-color: rgb(255, 255, 255);
	}

	#discover-art {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 1rem;
	}
	.new-critique-container {
		display: grid;
		grid-template-rows: 1fr 1fr;
	}

	.critique-art-container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 2rem 0 2rem 0;
	}
	.critique-art-container img {
		max-width: 95%;
	}
	.showArtContainer {
		max-width: 90vw;
		padding: 15px;
		background-color: rgb(255, 217, 0);
	}
	.showArtContainer img {
		max-width: 80vw;
	}
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
	#splash-container {
		height: 85vh;
		display: grid;
		grid-template-columns: 3fr 4fr;
	}

	#discover-body {
		display: grid;
		grid-template-columns: 2fr 4fr;
		height: 84vh;
		background-color: rgb(255, 255, 255);
	}

	.new-critique-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.critique-art-container {
		display: flex;
		margin-top: 20px;
	}
	.showArtContainer {
		padding: 15px;
		background-color: rgb(255, 217, 0);
	}
}

/*--------------------------------------------------------------*/
